.navbar {
  height: 60px;
  background: #111827;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

.logo {
  font-weight: bold;
  font-size: 18px;
}

.links a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}
